<div class='tile is-parent is-4'>
  <article class='tile is-child box'>
    <p
      class='title'
      class='patient-one'
      id='patient'
    >{{patient.patient_name}}</p>
    <p
      class='subtitle'
      class='doctor-one'
      id='doctor'
    >{{doctor.doctor_name}}</p>
    {{date_time}}


<button
      type="submit"
      class="button my-2 py-2 is-block js-modal-trigger"
      data-target="notemodal{{id}}"
    >View Notes</button>
    <div id="notemodal{{id}}" class="modal">
      <div class="modal-background"></div>

      <div class="modal-content">
        <div class="box">
              <div class="notes">
              {{#each notes}}
              <section class="note">
                <div class="meta">
                  {{format_date created_at}}
                </div>
                <div class="text">
                  {{note_text}}
                </div>
              </section>
              {{/each}}
            </div>
        </div>
      </div>
    </div>


    <button
      type='submit'
      class='button my-2 py-2 is-block js-modal-trigger'
      data-target='modal{{id}}'
    >Add Notes</button>
    <div id='modal{{id}}' class='modal'>
      <div class='modal-background'></div>

      <div class='modal-content'>
        <div class='box'>
          <div>
            <div><h6>Add a note:</h6></div>
            <div>
              <form>
                <div>
                  <p>Enter your note:</p>
                  <textarea name='note_text{{id}}' id='note_text{{id}}'></textarea>

                </div>

                <div>
                  <button type='submit' id='saveNote{{id}}' data-appointment="{{id}}">Submit</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>

    <small>
      appointment created on
      {{format_date created_at}}
    </small>
    <br />
    <a class='cancel-appointment' id='delete{{id}}' data-appointment='{{id}}'>Cancel
      Appointment</a>
    <br />
    <a class='edit-appointment' id='edit-appointment{{id}}' href="/edit-appointment/{{id}}">Edit Appointment</a>

  </article>
</div>

<script>
async function deleteAppointmentHandler(event) {
  event.preventDefault();

  const link = document.querySelector('#delete{{id}}');
  const id = link.dataset.appointment;

  const response = await fetch(`/api/appointments/${id}`, {
    method: 'DELETE'
  });

  if (response.ok) {
    document.location.replace('/view-all');
  } else {
    alert(response.statusText);
  }
}

async function handleNote(event) {
    event.preventDefault();
  
    const note_text = document.querySelector('#note_text{{id}}').value.trim();
    const link = document.querySelector('#saveNote{{id}}');
    const appointment_id = link.dataset.appointment;
  
    if (note_text) {
      const response = await fetch('/api/notes', {
        method: 'POST',
        body: JSON.stringify({
          note_text,
          appointment_id
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
  
      if (response.ok) {
        document.location.reload();
      } else {
        alert(response.statusText);
      }
    }
  }
  
document.querySelector('#saveNote{{id}}').addEventListener('click', handleNote);
document.querySelector('#delete{{id}}').addEventListener('click', deleteAppointmentHandler);
</script>
<script src='/javascript/modal.js'></script>

{{!-- <div class='tile is-parent is-4'>
  <article class='tile is-child box'>
    <p
      class="title"
      class="patient-one is-block"
      id="patient"
    >{{patient.patient_name}}</p>
    <p
      class="subtitle is-block"
      class="doctor-one"
      id="doctor"
    >{{doctor.doctor_name}}</p>
    <p class="is-block">{{date_time}}</p>
        <small class="is-block">
      appointment created on
      {{format_date created_at}}
    </small>


<button
      type="submit"
      class="button my-2 py-2 is-inline js-modal-trigger"
      data-target="notemodal{{id}}"
    >View Notes</button>
    <div id="notemodal{{id}}" class="modal">
      <div class="modal-background"></div>

      <div class="modal-content">
        <div class="box">
              <div class="notes">
              {{#each notes}}
              <section class="note">
                <div class="meta">
                  {{format_date created_at}}
                </div>
                <div class="text">
                  {{note_text}}
                </div>
              </section>
              {{/each}}
            </div>
        </div>
      </div>
    </div>




    <button
      type="submit"
      class="button my-2 py-2 is-inline js-modal-trigger"
      data-target="modal{{id}}"
    >Add Notes</button>

      <a class='is-block cancel-appointment' id='delete' data-appointment='{{id}}'>Cancel
      Appointment</a>

    <a class='is-block edit-appointment' id='edit-appointment'>Edit Appointment</a>


    <div id='modal{{id}}' class='modal'>
      <div class='modal-background'></div>

      <div class='modal-content'>
        <div class='box'>
          <div>
            <div><h6>Add a note:</h6></div>
            <div>
              <form>
                <div>
                  <p>Enter your note:</p>
                  <textarea name='note_text' id='note_text'></textarea>
                  <br />
                  {{! Hide this input with css styling please }}
                  Appointment ID:
                  <input
                    type='text'
                    value={{id}}
                    id='appointment_id'
                    readonly
                  />
                </div>

          <div>
            <button
              type="submit"
              data-appointment={{id}}
              id="saveNote"
            >Submit</button>
          </div>

        </div>
      </div>
      
    </div>

  


  </article>
</div>
<script src='/javascript/modal.js'></script>
<script src='/javascript/add-note.js'></script>
<script src='/javascript/delete-appointment.js'></script> --}}