<div class="tile is-parent is-4">
  <article class="tile is-child box">
    <p
      class="title"
      class="patient-one"
      id="patient"
    >{{patient.patient_name}}</p>
    <p
      class="subtitle"
      class="doctor-one"
      id="doctor"
    >{{doctor.doctor_name}}</p>
    {{date_time}}

    <button
      type="submit"
      class="button my-2 py-2 is-block js-modal-trigger"
      data-target="modal{{id}}"
    >Add Notes</button>
    <div id="modal{{id}}" class="modal">
      <div class="modal-background"></div>

      <div class="modal-content">
        <div class="box">
  <div>
      <div><h6>Add a note:</h6></div>
      <div>
        <form>
          <div>
            <p>Enter your note:</p>
            <textarea
              name="note_text"
              id="note_text"
            ></textarea>
            <br>
            {{!-- Hide this input with css styling please --}}
            Appointment ID: <input type="text" value={{id}} id="appointment_id" readonly />
          </div>

          <div>
            <button
              type="submit"
              id="saveNote"
            >Submit</button>
          </div>
        </form>
      </div>
    </div>

        </div>
      </div>
    </div>

  
    <small>
      appointment created on
      {{format_date created_at}}
    </small>
    <br />
    <a class="cancel-appointment" id="delete">Cancel Appointment</a>

  </article>
</div>
<script src="/javascript/modal.js"></script>
<script src="/javascript/add-note.js"></script>