

  <div class="tile is-parent is-4">
    <article class="tile is-child box">
      <p class="title" class="patient-one" id="patient">{{patient.patient_name}}</p>
      <p
        class="subtitle"
        class="doctor-one"
        id="doctor"
      >{{doctor.doctor_name}}</p>
       {{date}}
    {{time}}

      <button type="submit" class="button my-2 py-2 is-block">Add Notes</button>
      <small>
        appointment created 
        on
        {{format_date created_at}}
      </small>
      <br />
      <a class="cancel-appointment" id="delete">Cancel Appointment</a>

    </article>
  </div>
