<div class='tile is-parent is-4'>
  <article class='tile is-child box'>
    <p
<<<<<<< HEAD
      class="title"
      class="patient-one is-block"
      id="patient"
    >{{patient.patient_name}}</p>
    <p
      class="subtitle is-block"
      class="doctor-one"
      id="doctor"
=======
      class='title'
      class='patient-one'
      id='patient'
    >{{patient.patient_name}}</p>
    <p
      class='subtitle'
      class='doctor-one'
      id='doctor'
>>>>>>> 2df89e6393712ee4922574b5f0a7156259c04d75
    >{{doctor.doctor_name}}</p>
    <p class="is-block">{{date_time}}</p>


<button
      type="submit"
      class="button my-2 py-2 is-inline js-modal-trigger"
      data-target="notemodal{{id}}"
    >View Notes</button>
    <div id="notemodal{{id}}" class="modal">
      <div class="modal-background"></div>

      <div class="modal-content">
        <div class="box">
              <div class="notes">
              {{#each notes}}
              <section class="note">
                <div class="meta">
                  {{format_date created_at}}
                </div>
                <div class="text">
                  {{note_text}}
                </div>
              </section>
              {{/each}}
            </div>
        </div>
      </div>
    </div>




    <button
      type="submit"
      class="button my-2 py-2 is-inline js-modal-trigger"
      data-target="modal{{id}}"
    >Add Notes</button>
    <div id='modal{{id}}' class='modal'>
      <div class='modal-background'></div>

      <div class='modal-content'>
        <div class='box'>
          <div>
            <div><h6>Add a note:</h6></div>
            <div>
              <form>
                <div>
                  <p>Enter your note:</p>
                  <textarea name='note_text' id='note_text'></textarea>
                  <br />
                  {{! Hide this input with css styling please }}
                  Appointment ID:
                  <input
                    type='text'
                    value={{id}}
                    id='appointment_id'
                    readonly
                  />
                </div>

          <div>
            <button
              type="submit"
              data-appointment={{id}}
              id="saveNote"
            >Submit</button>
          </div>

        </div>
      </div>
    </div>

  
    <small class="is-block">
      appointment created on
      {{format_date created_at}}
    </small>
    <br />
    <a class='cancel-appointment' id='delete' data-appointment='{{id}}'>Cancel
      Appointment</a>
    <br />
    <a class='edit-appointment' id='edit-appointment'>Edit Appointment</a>

  </article>
</div>
<script src='/javascript/modal.js'></script>
<script src='/javascript/add-note.js'></script>
<script src='/javascript/delete-appointment.js'></script>