<article>
  <a href="/view-all"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-appointment">
    <div>
      <input type="text" value="{{id}}" id="id" />
      <input type="text" value="{{date_time}}" id="date_time"/>
      <input type="text" value="{{doctor_id}}" id="doctor_id"/>
      <input type="text" value="{{patient_id}}" id="patient_id"/>
      
    </div>
  
    <button type="submit" id="edit-appointment">Save post</button>
    <button type="button" class="delete-post-btn" id="delete">Delete post</button>
  </form>
</article>

{{!-- Add Notes Section --}}
<form class="note-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

              <div class="notes">
                {{#each notes}}
                <section class="note">
                  <div class="meta">
                    {{format_date created_at}}
                  </div>
                  <div class="text">
                    {{note_text}}
                  </div>
                </section>
                {{/each}}
              </div>

<script src="/javascript/edit-appointment.js"></script>
<script src="/javascript/delete-appointment.js"></script>
<script src="/javascript/note.js"></script>